node_modules
npm-debug.log
.npm
.env
.git
.gitignore
README.md
.eslintrc.js
.prettierrc
dist
.quasar
backend/node_modules
backend/database.db
backend/database.db-journal
*.log
.vscode
.idea
.DS_Store
Thumbs.db
